<div class="component">
<h2>akk-loader</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-loader loading="view.loading.isDisplayed" ></akk-loader>
        <akk-checkbox label="Show the loading" model="view.loading" property="isDisplayed" elementclass="" alignment="" req="" ></akk-checkbox>

    </div>
</div>
    
