<div class="component">
<h2>akk-textarea</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-textarea label="Input your text here" elementclass="" size="" placeholder="input your text" req="true" model="view.textareaValue" event="" ></akk-textarea>
        
    </div>
</div>
    
