<div class="component">
<h2>akk-selector</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-selector label="Label of your field" elementclass="" req="" model="view.selectAndSearch.items" property="lastname" event="" ></akk-selector>
        
    </div>
</div>
    
