<div class="component">
<h2>akk-radio</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-radio label="Your personel label" elementclass="" req="false" name="" model="view.radio.value" options="view.radio.items" property="name" event="" ></akk-radio>
        
    </div>
</div>
    
