<div class="form-group form-input" ng-class="!isValid ? 'has-error' : ''">
    <label class="control-label d-flex align-items-center">
        <i ng-if="!isValid" class="material-icons md-14">warning</i>
        <div class="ml-1">{{label}}</div>
        <sup ng-if="req">*</sup>
    </label>
    <input type="{{type}}"
           class="form-control"
           ng-class="elementclass"
           placeholder="{{placeholder}}"
           step="{{step}}"
           ng-model="model"
           ng-required="{{req}}"
           ng-disabled="disabled"
           ng-blur="methods.change()" />
</div>