<div class="form-group">
    <label class="control-label" ng-if="label">
        <i ng-if="!isValid" class="material-icons md-14">warning</i>
        <div class="ml-1">{{label}}</div>
        <sup ng-if="req">*</sup>
    </label>
    <div class="form-control d-flex align-items-center justify-content-between" data-ng-click="methods.click()">
        <input type="hidden" ng-model="view.item.id" ng-required="{{req}}" />
        <span class="input-search" ng-if="view.item != null" ng-click="methods.wizard()">
            {{model[property]}}
        </span>
        <em ng-if="view.item == null" class="text-muted" ng-click="methods.wizard()">{{placeholder}}</em>
        <i class="material-icons md-24 ml-auto" ng-click="methods.wizard()" role="button">keyboard_arrow_right</i>
    </div>
</div>