<div class="form-group form-select {{!view.isValid ? 'has-error' : ''}}">
    <label class="control-label d-flex align-items-center">
        <i ng-if="!view.isValid" class="material-icons md-14">warning</i>
        <div class="ml-1">{{label}}</div>
        <sup ng-if="req">*</sup>
    </label>
    <select 
        class="form-control {{elementclass}}" 
        ng-options="option{{value != null ? '[value]' : ''}} as option{{display != null ? '[display]' : ''}} for option in options{{value == null && display != null ? ' track by option.id' : ''}}" 
        ng-model="model" 
        ng-required="{{req}}" 
        ng-blur="methods.checkValidity()" 
        ng-change="methods.change()"
        ng-init="model = (model) ? model: options[0][value]">
        <option value="" ng-if="defaultDisplayEnabled" selected>{{defaultDisplay}}</option>
    </select>
</div>
