<li ng-class="view.item.childs != undefined ? 'has-child' : ''" class="tree-item d-flex flex-column">
    <div class="d-flex align-items-center">
        <i data-ng-if="!view.item.childs || view.item.childs.length == 0" class="material-icons minus mr-1 invisible">remove</i>
        <i data-ng-if="view.item.childs && view.item.childs.length > 0 && view.item.isShown" data-ng-click="methods.toggle(view.item)" class="material-icons minus mr-1">remove</i>
        <i data-ng-if="view.item.childs && view.item.childs.length > 0 && !view.item.isShown" data-ng-click="methods.toggle(view.item)" class="material-icons minus mr-1">add</i>
        <i class="material-icons text-muted mr-1" data-ng-bind="options.icon != null ? options.icon : 'bookmark'"></i>

        <i data-ng-if="selectable && view.item.isChecked" data-ng-click="methods.check(view.item)" class="material-icons text-primary">check_box</i>
        <i data-ng-if="selectable && view.item.isPartialyChecked && !view.item.isChecked" data-ng-click="methods.check(view.item)" class="material-icons text-muted">indeterminate_check_box</i>
        <i data-ng-if="selectable && !view.item.isChecked && !view.item.isPartialyChecked" data-ng-click="methods.check(view.item)" class="material-icons text-muted">check_box_outline_blank</i>
        
        <span data-ng-if="!eventClick">
            {{options.label ? item[options.label] : item.label}}
        </span>

        <a href="javascript:;" data-ng-if="eventClick" data-ng-click="methods.click(view.item)" data-ng-class="(view.item.isChecked) ? 'active' : ''">
            {{options.label ? item[options.label] : item.label}}
        </a>
        
        <i data-ng-if="editable" data-ng-click="methods.labelEdit(view.item)" class="material-icons text-muted minus">edit</i>

        <span class="badge badge-light ml-1" data-ng-if="view.item.childs && view.item.childs.length > 0">
            ({{view.item.childs.length}})
        </span>
    </diV>

    <ul data-ng-if="view.item.childs && view.item.childs.length > 0" data-ng-show="view.item.isShown">
        <akk-tree-item item="child" selectable="selectable" editable="editable" options="options" event-click="eventClick" event-edit="evenEdit" data-ng-repeat="child in view.item.childs"></akk-tree-item>
    </ul>
</li>