<div class="form-group form-tree">
    <div class="d-flex">
        <label class="control-label mr-auto" data-ng-if="view.title">
            {{view.title}}
        </label>

        <div class="control-panel">
            <a href="javascript:;" data-ng-click="methods.expandAll(multiple)" translate>Tout ouvrir</a>
            <span> | 
                <a href="javascript:;" data-ng-click="methods.inpandAll(multiple)" translate>Tout fermer</a>
            </span>
            <span ng-if="multiple"> |
                <a href="javascript:;" data-ng-click="methods.selectAll()" translate>Tout sélectionner</a>
            </span>
            <span ng-if="multiple"> |
                <a href="javascript:;" data-ng-click="methods.unselectAll()" translate>Tout désélectionner</a>
            </span>

            <span ng-if="options.debug && options.debug == true"> |
                <a href="javascript:;" data-ng-click="methods.debug()" translate>Debug</a>
            </span>
        </div>
    </div>

    <ul class="level-root">
        <akk-tree-item item="item" selectable="selectable" editable="editable" options="options" event-click="eventClick" event-edit="evenEdit" data-ng-repeat="item in view.items" ></akk-tree-item>
    </ul>
    <div ng-if="options.debug && options.debug == true">
        Model debug
        <div class="row">
            <div class="col">
                <pre>{{view.items| json}}</pre>
            </div>
            <div class="col">
                <pre>{{model| json}}</pre>
            </div>
        </div>
    </div>
</div>