<div class="form-group form-textarea" ng-class="!isValid ? 'has-error' : ''">
    <label class="control-label d-flex align-items-center">
        <i ng-if="!isValid" class="material-icons md-14">warning</i>
        <div class="ml-1">{{label}}</div>
        <sup ng-if="req">*</sup>
    </label>
    <textarea class="form-control" ng-class="elementclass" placeholder="{{placeholder}}" ng-model="model" rows="{{size}}" ng-required="{{req}}" ng-blur="checkValidity()"></textarea>
</div>