<div class="component">
<h2>akk-colorpicker</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-colorpicker label="Couleur de la pomme" req="" model="view.color" options="" event="" ></akk-colorpicker>
        
    </div>
</div>
    
