<div class="component">
<h2>akk-input</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-input label="Your custom label goes here" elementclass="" type="" step="" placeholder="example : Bob" req="" hasError="" model="view.inputValue" eventUpdate="updateItem" ></akk-input>
        
    </div>
</div>
    
