<div class="component">
    <h2>akk-tree</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <akk-tree title="My tree" items="view.tree.items" model="view.tree.model" options="{debug: false, label: 'label', icon: 'label'}" multiple="true" editable="true" selectable="true" event-click="treeSelectItem" event-edit="treeEditLabel" event-update=""></akk-tree>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Description</h3>
            <p class="description text-justify">
                The akk-tree directive takes a list of items with children (at any depth) and diplays them in a tree like format, the selected items of the tree will be stored within the model property.
            </p>
        </div>
    </div>

    <div class="show-value">
        <hr class="hr-lg"/>
        <h3>Data</h3>
        <pre>{{ view.tree.model| json }}</pre>
    </div>

    <hr class="hr-lg" />

    <h3>Properties</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Scope</th>
                <th>Attribute</th>
                <th class="text-center">Required</th>
                <th>Format</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>title</td>
                <td>title</td>
                <td class="text-center"><i class="material-icons text-success">check</i></td>
                <td>String</td>
                <td>"My tree"</td>
            </tr>
            <tr>
                <td>items</td>
                <td>items</td>
                <td class="text-center"><i class="material-icons text-success">check</i></td>
                <td>Array</td>
                <td class="text-code">[{label: 'example', value:'example_value}]</td>
            </tr>
            <tr>
                <td>model</td>
                <td>model</td>
                <td class="text-center"><i class="material-icons text-success">check</i></td>
                <td>Array</td>
                <td class="text-code">[{label: 'example', value:'example_value}]</td>
            </tr>
            <tr>
                <td>options</td>
                <td>options</td>
                <td class="text-center"><i class="material-icons text-success">check</i></td>
                <td>Object</td>
                <td class="text-code">{debug: false, label: 'label',icon: 'label'}</td>
            </tr>
            <tr>
                <td>multiple</td>
                <td>multiple</td>
                <td class="text-center"><i class="material-icons text-success">check</i></td>
                <td>Boolean</td>
                <td class="text-code">true</td>
            </tr>
            <tr>
                <td>selectable</td>
                <td>selectable</td>
                <td class="text-center"><i class="material-icons text-success">check</i></td>
                <td>Boolean</td>
                <td class="text-code">false</td>
            </tr>
            <tr>
                <td>eventClick</td>
                <td>event-click</td>
                <td class="text-center"><i class="material-icons text-danger">clear</i></td>
                <td>String</td>
                <td>"functionCLick"</td>
            </tr>
            <tr>
                <td>eventUpdate</td>
                <td>event-update</td>
                <td class="text-center"><i class="material-icons text-danger">clear</i></td>
                <td>String</td>
                <td>"functionUpdate"</td>
            </tr>
        </tbody>
    </table>

</div>