<div class="component">
    <h2>akk-loader</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <akk-loader loader-status="view.loading.isDisplayed" loader-text="{{'Chargement en cours' | translate}}">text is loaded</akk-loader>
            <akk-checkbox label="Show the loading" model="view.loading" property="isDisplayed" elementclass="" alignment="" req="" ></akk-checkbox>

        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-12">
            <h3>Description</h3>
            <p class="description text-justify">
                Here we have our akk-loading, the property loading is binded with the checkbox so you can test this directive by indicating wether there is loading or not. To use it in your project, simply add the akk-loading directive as an attribute to any html element that you want to add a loading status to, and then assign a value to loading attribute, that value should be true when your content is loading and then changed to false when you content has finished loading
            </p>
        </div>
    </div>

    <div class="show-value">
        <hr class="hr-lg"/>
        <h3>Data</h3>
        <pre>{{ view.loading| json }}</pre>
    </div>

    <hr class="hr-lg" />

    <h3>Properties</h3>
    <table class="table table-vertical-center">
        <thead>
            <tr>
                <th>Scope</th>
                <th>Attribute</th>
                <th class="text-center">Required</th>
                <th>Format</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>loading</td>
                <td>loading</td>
                <td class="text-center"><i class="material-icons text-success">check</i></td>
                <td>boolean</td>
                <td class="text-code">false</td>
            </tr>
        </tbody>
    </table>

</div>
