<div class="component">
    <h2>akk-input</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <akk-input
                    label="Your custom label goes here"
                    elementclass=""
                    type=""
                    step=""
                    placeholder="example : Bob"
                    req=""
                    hasError=""
                    model="view.inputValue"
                    event-update="updateItem"></akk-input>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Description</h3>
            <p class="description text-justify">
                The akk-input directive allows your users to type some text and stores it in the model property.
            </p>
        </div>
    </div>

    <div class="show-value">
        <hr class="hr-lg"/>
        <h3>Data</h3>
        <pre>{{ view.inputValue ? view.inputValue : 'Start typing to see the result' }}</pre>
    </div>

    <hr class="hr-lg" />

    <h3>Properties</h3>
    <table class="table table-vertical-center">
        <thead>
            <tr>
                <th>Scope</th>
                <th>Attribute</th>
                <th>Required</th>
                <th>Format</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>label</td>
                <td>label</td>
                <td class="text-center"><i class="material-icons text-success">check</i></td>
                <td>String</td>
                <td>"Your custom label goes here"</td>
            </tr>
            <tr>
                <td>elementclass</td>
                <td>elementclass</td>
                <td class="text-center"><i class="material-icons text-danger">clear</i></td>
                <td>String</td>
                <td>"class"</td>
            </tr>
            <tr>
                <td>type</td>
                <td>type</td>
                <td class="text-center"><i class="material-icons text-danger">clear</i></td>
                <td>String</td>
                <td>"integer"</td>
            </tr>
            <tr>
                <td>step</td>
                <td>step</td>
                <td class="text-center"><i class="material-icons text-danger">clear</i></td>
                <td>String</td>
                <td>"12"</td>
            </tr>
            <tr>
                <td>placeholder</td>
                <td>placeholder</td>
                <td class="text-center"><i class="material-icons text-danger">clear</i></td>
                <td>String</td>
                <td>"example : Bob"</td>
            </tr>
            <tr>
                <td>req</td>
                <td>req</td>
                <td class="text-center"><i class="material-icons text-danger">clear</i></td>
                <td>Boolean</td>
                <td class="text-code">true</td>
            </tr>
            <tr>
                <td>hasError</td>
                <td>has-error</td>
                <td class="text-center"><i class="material-icons text-danger">clear</i></td>
                <td>Boolean</td>
                <td class="text-code">true</td>
            </tr>
            <tr>
                <td>model</td>
                <td>model</td>
                <td class="text-center"><i class="material-icons text-danger">clear</i></td>
                <td>String</td>
                <td>"a little bit of text"</td>
            </tr>
            <tr>
                <td>event</td>
                <td>event</td>
                <td class="text-center"><i class="material-icons text-danger">clear</i></td>
                <td>String</td>
                <td>"updateItem"</td>
            </tr>
        </tbody>
    </table>

</div>