<div class="component">
<h2>akk-card</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-card title="{{view.card.title}}" content="{{view.card.text}}" media="{{view.card.media}}" options="view.card.options" ></akk-card>
        
    </div>
</div>
    
