<div class="component">
<h2>akk-datagrid</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-datagrid caption="This is a datagrid" items="view.selectAndSearch.items" columns="['lastname', 'firstname', 'job', 'location']" selected="view.datagrid.selectedItems" selector="true" paginate="" eventClick="" eventHover="" eventToggle="" eventToggleAll="" ></akk-datagrid>
        
    </div>
</div>
    
