<div class="component">
<h2>akk-paginate</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-paginate caption="example of a Paginate" items="view.selectAndSearch.items" columns="['lastname', 'firstname', 'job', 'location']" selected="view.datagrid.selectedItems" selector="false" paginate="{itemPerPage:3, size: 'lg', alignment: 'center'}" eventClick="" eventHover="" eventToggle="" eventToggleAll="" ></akk-paginate>
        
    </div>
</div>
    
