<div class="component">
<h2>akk-select</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-select label="" elementclass="" req="" model="view.select.model" options="view.select.options" value="key" display="label" update="" defaultDisplayEnabled="" defaultDisplay="" ></akk-select>
        
    </div>
</div>
    
