<div class="component">
<h2>akk-multiselect</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-multiselect label="" model="" placeholder="{{view.multiselect.placeholder}}" items="view.multiselect.items" selected="view.multiselect.selected" field="{{view.multiselect.field}}" event="" ></akk-multiselect>
        
    </div>
</div>
    
