<div class="component">
<h2>akk-checkbox</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-checkbox label="Do accept the conditions of use (there a none anyway)?" alignment="" elementclass="" req="" model="view" property="checkboxValue" eventUpdate="" ></akk-checkbox>
        
    </div>
</div>
    
