<div class="component">
<h2>akk-datepicker</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-datepicker label="My DatePicker" req="" model="view.date" event="" ></akk-datepicker>
        
    </div>
</div>
    
