<div class="component">
<h2>akk-tree</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-tree title="My tree" items="view.tree.items" model="view.tree.model" options="{debug: false, label: 'label',icon: 'label'}" multiple="true" selectable="true" eventClick="treeSelectItem" eventUpdate="" ></akk-tree>
        
    </div>
</div>
    
