<div class="modal-header">
    <h4 class="modal-title">{{view.placeholder}}</h4>
    <button type="button" class="close" data-ng-click="methods.close()" aria-label="Close">
        <span aria-hidden="true">
            <i class="material-icons md-24">clear</i>
        </span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-6">
            <h5 translate>Selectable items ({{view.items.length}})</h5>
            <div data-ng-if="view.items.length">
                <div data-ng-repeat="item in view.items | orderBy:view.field" class="d-flex align-items-center text-secondary" data-ng-click="methods.select(item)">
                    <i class="material-icons">keyboard_arrow_right</i>
                    <div class="ml-1">{{item[view.field]}}</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h5 translate>Selected items ({{view.selected.length}})</h5>
            <div data-ng-if="view.selected.length">
                <div data-ng-repeat="item in view.selected | orderBy:view.field" class="d-flex align-items-center text-primary" data-ng-click="methods.unselect(item)">
                    <i class="material-icons">clear</i>
                    <div class="ml-1">{{item[view.field]}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="methods.cancel()" translate>Annuler</button>
    <button type="button" class="btn btn-primary" data-ng-click="methods.save()" translate>Enregistrer</button>
</div>
