<div class="component">
<h2>akk-selectandsearch</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-selectandsearch label="Choose someone" options="view.selectAndSearch.items" optionsType="" fields="['lastname',' ','firstname']" filterType="" filterBy="" placeholder="Choose someone" hasError="" req="" model="view.selectAndSearch.selectedId" event="" add="" modalSize="" templateItem="default" orderBy="" ></akk-selectandsearch>
        
    </div>
</div>
    
