<div class="component">
<h2>akk-checkbox-list</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-checkbox-list label="Checkbox List" elementclass="" req="" model="view.checkboxList.selectedItems" options="view.checkboxList.options" value="" display="" event="" ></akk-checkbox-list>
        
    </div>
</div>
    
