<div class="component">
<h2>akk-switch</h2>
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <akk-switch label="{{'Switch #1 (default default)'| translate}},{{'Switch #2 (default center)'| translate}},{{'Switch #3 (default left)'| translate}},{{'Switch #4 (large default)'| translate}},{{'Switch #5 (large CENTER)'| translate}},{{'Switch #6 (large left)'| translate}}" alignment=",center,left,,center,left" elementclass="" icon="" size=",,,lg,lg,lg" req="" model="view.switch" property="value" eventUpdate="" ></akk-switch>
        
    </div>
</div>
    
