<div>
    <div class="jumbotron text-center">
        <h1 class="display-4">Components</h1>
        <p class="lead">More than 18 components to create amazing interfaces.</p>
    </div>

    <div class="row">
        <!-- Left side section that will be left clear, it contains the show data button to show how data changes on interactions with directives -->
        <div class="col-12 col-md-2">
            <div class="sticky-top">
                <div class="pt-0 pt-md-3 mb-5">
                    <button class="btn btn-primary btn-block mb-3" type="button" ng-click="methods.toggleValuesDisplay()">
                        Show data
                    </button>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action" data-ng-repeat="link in view.links| orderBy:'name'" data-ng-click="methods.setTemplate(link.template)">
                            {{link.name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right side section and main container that will contain all the components -->
        <div class="col-12 col-md-10">
            <!-- ********** Page description ************ -->
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">
                        The Akkurate Design System is a series of individual AngularJS directives, that are designed to help developpers make websites faster. These designs are systemic and logical,
                        as they all follow the same universal principles.
                        <br/>
                        The component library gives developers a collection of re-usable HTML, JavaScript and SCSS partials for building their products. Check out the source code in the docs folder to
                        see how we made these components work.
                        <br/>
                        Here are the main components we have to offer.
                    </p>
                </div>
            </div>
            <div ng-include="methods.getTemplate()"></div>


        </div> <!-- End main container -->
    </div> <!-- End main row -->

</div> <!-- End main div -->
