<div class="jumbotron text-center">
    <h1 class="display-4"><strong>Akkurate</strong><br /> Design System</h1>
    <hr class="hr-sep hr-lg" />
    <p class="lead">Made easily your own design system.</p>
    <p class="lead"><a class="btn btn-primary btn-lg" ui-sref="root.components" role="button">Explore now</a></p>
</div>
<div class="container">
    <h2 id="welcome-to-akkurate-design-system">Welcome to Akkurate-Design-System</h2>
    <p class="text-justify">
        Akkurate-Design-System is a module for AngularJS which contains directives and filters.
    </p>
    <p class="text-justify">
        Directives were created using Bootstrap 4 CSS framework.
    </p>
    <h2 id="usage">Usage</h2>
    <p class="text-justify">
        You simply have to inculde our module into your controller&#39;s dependencies and include our module&#39;s file ( dist/akkurate-design-system.js ) in your project.
        In our example, we created another module named &#39;AkkurateDesignSystem&#39; to test our components module, you can change that with your module&#39;s name :
        <code>angular.module(&#39;AkkurateDesignSystem&#39;, [&#39;akkurate-design-system&#39;])</code>
        <br />
        Feel free to change the source code of the components.html file to see how our directives react.
    </p>
    <h2 id="our-module-s-dependencies">Our module&#39;s dependencies</h2>
    <p class="text-justify">Your index file must have the following scripts included in order for our module to be fully functional</p>
    <pre>
        <!-- jQuery -->
        <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- AngularJS -->
        <script src="node_modules/angular/angular.min.js"></script>

        <!-- Angular Router -->
        <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

        <!-- Angular Sanitize -->
        <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>

        <!-- Notification -->
        <script src="node_modules/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

        <!-- Bootstrap UI for everything -->
        <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

        <!-- Gettext for everything -->
        <script src="node_modules/angular-gettext/dist/angular-gettext.min.js"></script>

        <!-- Angular Colorpicker -->
        <script src="node_modules/tinycolor2/dist/tinycolor-min.js"></script>
        <script src="node_modules/angularjs-color-picker/dist/angularjs-color-picker.min.js"></script>

        &lt;!-- Our module --&gt;
        &lt;script src=&quot;dist/akkurate-design-system.min.js&quot;&gt;&lt;/script&gt;

        &lt;!-- Your scripts goes here --&gt;
        &lt;script src=&quot;your-script.js&quot;&gt;&lt;/script&gt;
    </pre>

    <h2 id="live-example">Live Example</h2>
    <p class="text-justify">This project includes a live example to help you test all our directives, to test our project, after you download it, go to the project folder and simply run the following command  :</p>
    <pre>bower install</pre>
    <p class="text-justify">
        Then host the project into any server (we used MAMP), go to the home page and then go to the components page to see all the components we have to offer.
    </p>

    <h2 id="source">Source</h2>
    <p class="text-justify">Our source files are included in a folder named src, feel free to modify them as you see fit.
        Then you can regenerate the module&#39;s file using <strong>Gulp</strong>, to do that, you first must have <strong>Gulp</strong> installed in your machine, then you must install it&#39;s dependencies :</p>
    <pre>npm install</pre>
    <p class="text-justify">
        Then simply run :
    </p>
    <pre>gulp</pre>
    <p class="text-justify">
        This will generate the normal and the minified version of our module, a file containing only the template cache and a generated css file from sass source. This command must be executed whenever you modify any file within the <strong>src</strong> folder.
    </p>

    <!-- ********** Package content ************ -->
    <h2>Package content</h2>
    <div class="bg-light border rounded border-secondary border-2 pt-2">
        <pre>
            <code>AkkurateDesignSystem<span class="token operator">/</span>
                ├── dist
                │   ├── akkurate-design-system.css
                │   ├── akkurate-design-system.css
                │   ├── akkurate-design-system.min.css
                │   └── akkurate-design-system.templates.css
                ├── docs
                │   ├── components.html
                │   └── home.html
                ├── manifest
                ├── sass
                │   ├── base
                │   │   └── *.sass
                │   ├── components
                │   │   └── *.sass
                │   └── *.sass
                ├── src
                │   ├── directives
                │   │   └── *.js
                │   ├── filters
                │   │   └── akk-filters.js
                │   └── templates
                │       ├── includes
                │       ├── modals
                │       │   └── *.html
                │       ├── overload
                │       │   └── datepicker
                │       │        └── *.html
                │       └── *.html
                ├── gulpfile.js
                ├── index.html
                ├── package.json
                ├── README.md
                └── script.js
            </code>
        </pre>
    </div>
</div>
